@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import '@fontsource/inter';

@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@300;400;500;700&display=swap");
@import url("./loader.css");
html,
body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #ffffff;
}

.description {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 0.75rem; /* 12px */
}

.blur-tf {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}

.blur-alternative-tf {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(29px);
}

.blur-secondary-tf {
  background: rgba(0, 0, 0, 0.73);
  backdrop-filter: blur(29px);
}

.border-transparent-tf {
  border: 2px solid rgba(255, 255, 255, 0.12);
}

.border-transparent-alternative-tf {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.border-radius-tf {
  border-radius: 15px;
}

.border-label-tf {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.box-shadow-tf {
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.39),
    inset -2px -2px 0px rgba(255, 255, 255, 0.05),
    inset 2px 2px 0px rgba(255, 255, 255, 0.05);
}

.background-card {
  background: rgba(0, 0, 0, 0.73);
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.47);
  backdrop-filter: blur(29px);
}
